.succbuy{
    width: 1210px;
    margin: 0 auto;
}
.mybagCartRight1 {
    background: url("../images/cart_step.jpg") no-repeat 0 -162px;
    width: 700px;
    height: 47px;
    float: right;
    display: inline;
    margin: 0px 0px 30px 0px;
}
.mybagCartLeft {
    width: 510px;
    float: left;
}
.mybagSty {
    margin-top: 50px;
    position: relative;
}
.succecon{
    clear: both;
    text-align: center;
    height: 200px;
    line-height: 200px;
    color: #d00000;
    font-weight: bold;
}
.bottomF{
    margin: 0 auto;
    width: 1210px;
    /*position: relative;*/
    overflow: hidden;
    /*height: 400px;*/
}
.bottomF ul{
    width: 3000px;
    position:relative;
}
.bottomF ul li{
    width: 300px;
    text-align: center;
    border: 1px solid #c69c6d;
    padding: 10px;
    float: left;
    margin-left: 2px;
}
.mySame{
    color: #d00000;
}